<p>home works!</p>
<!-- <h1>{{name}}</h1>
<h2 [innerHTML]=name></h2> -->

<!-- <h1>{{firstName}}</h1>
<h1>{{lastName}}</h1>
<h2 [innerHTML]=contactNo></h2>
<h2 [innerHTML]=address></h2> -->
<!-- <form  method="get">
<label>first name: </label><br>
<input type="text" [(ngModel)]="fName" [class]="f"><br>
<label>last name: </label><br>
<input type="text" [(ngModel)]="lName" [class]="l"><br>
<label>email: </label><br>
<input type="email" [(ngModel)]="email" [class]="e"><br>
<label>pass: </label><br>
<input type="password" [(ngModel)]="pwd" [class]="p"><br><br>

<button type="submit" (click)="submit(fName,lName,email,pwd)" >Submit</button>
</form> -->
<br><br>

<!-- <label for="">Username</label>
<input type="text" [(ngModel)]="name">
<h1></h1> -->

<div [ngSwitch]='color'>
    <div *ngSwitchCase="'red'">Red Color</div>
    <div *ngSwitchCase="'blue'">BLUE Color</div>
    <div *ngSwitchCase="'green'">GREEN Color</div>
    <div *ngSwitchCase="'orange'">orange Color</div>

    <div *ngSwitchDefault>output2</div>
</div>

<h1 *ngIf="status;else elseBlock">IF PART</h1>
<ng-template #elseBlock >
    <h1>Else block</h1>
</ng-template>
<br><br>
<div *ngFor="let item of emp">
    <h3>{{item}}</h3>
</div>
<div>
    <h4>ID = {{person.id}}</h4>
    <h4> Name = {{person.name}}</h4>
</div>

<label for="">NAME : </label> <input type="text" [(ngModel)]="pname">
<button class=" btn btn-danger" (click)="displayPerson(pname)">ADD NAME</button>
<!-- <h3 *ngFor="let item of personArray; index as i">
    <h2> {{i+1}}  {{item}}</h2>
    <button class="btn btn-dark" (click)=removePerson(i);>Remove</button>
</h3> -->
<table>
    <tr>
        <th class="p-4">ID</th>
        <th class="p-4">Name</th>
        <th class="p-4">Remove</th>
    </tr>
    <tr class=" " *ngFor="let item of personArray; index as i">
        <td class="p-4">{{i+1}}</td>
        <td class="p-4">{{item}}</td>
        <td class="p-4"><button class="btn btn-dark" (click)=removePerson(i);>Remove</button></td>
</table>
<br><br><br>
<h3>{{personArray}}</h3>
<h1>{{parentData}}</h1>

<button class="btn btn-dark"  (click)=fireEvent()>Fire Event</button>
<br>
<h2>{{person | json}}</h2>