<!-- <h1> App component</h1> -->
<br>
<app-home></app-home>
<button disabled={{disabled}}>CLICK HERE</button>
<button [disabled]="disabled">CLICK HERE</button> 
<!-- //property binding -->
<br>
<!-- <label for="name">name</label>
<br><br>
<input type="text" #myInput> -->
<!-- <button (click)="onClick(myInput.value)">CLICK HERE</button>  -->

<h1>{{name}}</h1>
<!-- //event binding template reference variable-->
<!-- <app-about></app-about> -->
<!-- <div class=" app-home"></div> -->
<!-- <div app-home></div> -->
<label for="name">no1</label>
<br>
<input type="text" #no1>
<br>
<label for="name">no2</label>
<br>
<input type="text" #no2>
<br>
<!-- <button (click)="onClick(no1.value, no2.value)">Result</button>  -->
<!-- <textarea name="res" id="" cols="" rows="">{{result}}</textarea> -->
<label for="username" >user name</label>
<input type="text" [(ngModel)]="name">
<h1> {{name}}</h1>
<h2>{{name | uppercase}}</h2>
<h2>{{name | lowercase}}</h2>
<h2>{{name | titlecase}}</h2>
<h2>{{name | uppercase}}</h2>

<button class="btn btn-danger">yooo</button>

<app-home [parentData]="of" (childEvent)="message=$event"></app-home>

<h2>{{message | uppercase}}</h2>
<h2>{{message | lowercase}}</h2>
<h2>{{message | titlecase}}</h2>
<h2>{{1.4543 | number:"2.1-3"}}</h2>
<h2>{{1.4543 | percent}}</h2>
<h2>{{1.4543 | currency}}</h2>
<h2>{{date | date: "shortDate"}}</h2>
<h2>{{date | date: "shortTime"}}</h2>
<h2>{{date | date: "short"}}</h2>
<h2>{{date}}</h2>
<!-- <app-empdetails [empData]="emp"></app-empdetails>
<app-emplist [empData]="emp"></app-emplist> -->
<!-- <app-empdetails ></app-empdetails>
<app-emplist ></app-emplist> -->
<ul>
    <li><a href="" [routerLink]="['/employeeList']" routerLinkActive="router-link-active" > employee list </a></li>
    <li><a href="" [routerLink]="['/employeeDetails']" routerLinkActive="router-link-active" >employee details</a></li>

</ul>
<router-outlet></router-outlet>
<!-- <div class=" container mt-50">
<div class=" col-md-6 offset-md-3">

<form action="" #signupForm='ngForm' (ngSubmit)="signupForm.form.valid && onSubmit() "novalidate>
    {{signupForm.value | json }}
    <div class=" form-group">
        <label for="">First Name</label>
        <input type="text" name="fName" class=" form-control" #fName="ngModel" [(ngModel)]="signupObj.fName" [ngClass]="{'is-invalid': signupForm.submitted && fName.invalid}" required>
        <div *ngIf="signupForm.submitted && fName.invalid">
            <span class="error">First Name Invalid</span>
        </div>
    </div>
    <div class=" form-group">
        <label for="">Last Name</label>
        <input type="text" name="lName" class=" form-control" [(ngModel)]="signupObj.lName" #lName="ngModel"[ngClass]="{'is-invalid': signupForm.submitted && lName.invalid}" required>
        <div *ngIf="signupForm.submitted && lName.invalid">
            <span class="error">Last Name Invalid</span>
        </div>
    </div>
    <div class=" form-group">
        <label for="">Email</label>
        <input type="email" name="email" class=" form-control" [(ngModel)]="signupObj.email" #email="ngModel"[ngClass]="{'is-invalid': signupForm.submitted && email.invalid}" required email>
        <div *ngIf="signupForm.submitted && email.invalid">
            <div class="error" *ngIf="email.errors.required">Email is required </div>
            <div class="error" *ngIf="email.errors.email">Invalid Email </div>
        </div>
    </div>
    <div class=" form-group">
        <label for="">Password</label>
        <input type="password" name="password" class=" form-control" [(ngModel)]="signupObj.password" #password="ngModel"[ngClass]="{'is-invalid': signupForm.submitted && password.invalid}" required minlength="6">
        <div *ngIf="signupForm.submitted && password.invalid">
            <div class="error" *ngIf="password.errors.required">Password is required </div>
            <div class="error" *ngIf="password.errors.minlength">Password Invalid </div>
        </div>
        <div *ngIf="password.valid">
            <div class="success"> Success</div>
        </div>
    </div>
    <button type="submit" class=" btn btn-primary">Submit</button>
</form>
</div>
</div> -->


<div class="container mt-50">
    <div class="col-md-6 offset-md-3">
        <h3> Login Form</h3>
        <h3 appCustomStyle>Custom Directive</h3>
        <form action="" [formGroup]="loginForm">
            <div class="form-group">
                <label for=""> Email address</label>
                <input type="email" class=" form-control" formControlName="email" placeholder="email">
                <span *ngIf="email.touched && email.invalid" class="error"> email is invalid</span>
            </div>
            <div class="form-group">
                <label for=""> Password</label>
                <input type="password" class=" form-control" formControlName="password" placeholder="password">
                <span *ngIf="password.touched && password.invalid" class="error"> password is invalid</span>
            </div>
            <button type="submit" class=" btn btn-info">Submit</button>
        </form>
    </div>

</div>